<%- include('partials/header') %>

    <title>Buyer</title>
</head>
<style>
    table, tr, th, td{
        border: black solid 1px;
    }
    .profile{
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
    }
</style>
<body>
    <%- include('partials/navbar') %>
    <div class="profile">
        <h1>Hey there <%= user.name %></h1>
        <h1>Here are all the available sellers from where you can buy</h1>
    <h1>Seller list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Seller</th>
                <th>Email Id: </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    <% allUser.forEach(singleUser => { %>

        <% if (singleUser.kind === "seller" && singleUser.requestActive > 0) { %>
            <tr>
            <td><%= singleUser.name %></td>
            <td><%= singleUser.emailId %></td>
            <!-- <td><%= singleUser.mobileNumber %></td>
            <td><%= singleUser.city %></td>
            <td><%= singleUser.pinCode %></td>
            <td><%= singleUser.requestActive %></td> -->
            <td><a href=<%= `/buyer/${singleUser._id}` %>><button class="btn btn-secondary">Redirect</button></a></td>
            </tr>


        <% } %>

    <% }) %>
</tbody>
</table>

        <h1>Accepted Requests</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Seller</th>
                    <th>Food Type</th>
                </tr>
            </thead>
            <tbody>
        <% requests.forEach(request => { %>
            <tr>
                <td><%= request.seller.name %></td>
                <td><%= request.request.type %></td>
        </tr>
        <% }) %>
    </tbody>
    </table>
</div>
    <script>
        const navbars = document.querySelectorAll('.nav-item a')
        const buyer = document.querySelector('a[href="/buyer"]')


        navbars.forEach(navbar => {
            navbar.classList.remove('active');
        })

        buyer.classList.add('active')


    </script>

<%- include('partials/footer') %>