<%- include('partials/header') %>

<title>Seller Info</title>
<style>
    td{
        padding: 20px;
    }
    .profile{
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    .pro{
        display: flex;
        flex-direction: row-gap;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .buy{
        align-items: right;
    }
    img{
        border-radius: 50%;
        margin-right: 3em;
    }
</style>
</head>
<body>

    <%- include('partials/navbar') %>

    <!-- <a href="/buyer">Back</a> -->

    <div class="profile">
        <h1>Seller Info</h1>
        <div class="pro">
            <div>
                <img src=<%= seller.profilePhoto %> alt="Profile Picture" height="200" >
            </div>
            <div>
                <h3><%= seller.name %></h3>
                <h3><%= seller.emailId %></h3>
                <h3><%= seller.mobileNumber %></h3>
                <h3><%= seller.city %></h3>
                <h3><%= seller.pinCode %></h3>
            </div>  
        </div>
    

    <h1>Available Items</h1>
    <table class="table">
        <tbody>
            <% requests.forEach(request => { %>
                <tr>
                    <td><%= request.type %></td>
                    <td class="float-right">
                        <form action="/buyer" method="post">
                            <input type="hidden" name="buyer_id" value=<%= user_id %>>
                            <input type="hidden" name="request_id" value=<%= request._id %>>
                            <button type="submit" class="btn btn-dark">Buy</button>
                        </form>            
                    </td>
                </tr>       
    <% }) %>
</tbody>
</table>
    </div>
    

<script>
    const navbars = document.querySelectorAll('.nav-item a')
    const buyer = document.querySelector('a[href="/buyer"]')


    navbars.forEach(navbar => {
        navbar.classList.remove('active');
    })

    buyer.classList.add('active')


</script>
<%- include('partials/footer') %>