<%- include('partials/header') %>

    <title>Profile</title>
</head>
<body>
    <h1>This is a test</h1>
    <h2><%= user.name %></h2>
    <a href="/logout">LogOut</a>


    <% let i = 0 %>
    <% requests.forEach(request => { %>
        <p><%= request._id %> && <%= reqUser[i].emailId %> </p>   
        <% i++; %>     
        <form action="/accept" method="post">
            <input type="hidden" name="id" value=<%= request._id %>>
            <input type="hidden" name="user_id" value=<%= user._id %>>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <% }) %>

    <h2>Create a request</h2>

    <form action="/profile" method="POST">
        <input type="hidden" name="kind" value=<%= user.kind %>>
        <input type="hidden" name="owner" value=<%= user._id %>>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <h2>Accepted Request</h2>
    <% let j = 0 %>
    <% accepts.forEach(accept => { %>
    <p><%= accept %>  && <%= acceptUser[j].emailId %></p>
    <% j++; %>
    <% }) %>


<% include('partials/footer') %>