<%- include('partials/header') %>

    <title>Buyer</title>
</head>
<body>

    <h1>Hey there <%= user.name %></h1>
    <a href="/logout">LogOut</a>

    <form action="/seller" method="post">
        <input type="hidden" name="owner_id" value=<%= user._id %>>
        <input type="text" name="type" required>
        <button type="submit" class="btn btn-dark">Create Your request</button>
    </form>

    <h1>Pending Request</h1>

    <% pendingReq.forEach(req => { %>
        <p><%= req.type %></p>
    <% }) %>

    <h1>Accepted Req</h1>

    <% acceptReq.forEach(req => { %>
        <p><%= req.type %></p>
        <p><%= req.buyer%></p>
    <% }) %>

    

<%- include('partials/footer') %>