<%- include('partials/header') %>

    <title>Buyer</title>
</head>
<style>
    table, th, td, tr {
        border: solid 1px black;
    }
</style>

<body>
    <%- include('partials/navbar') %>

    <h1>Hey there <%= user.name %></h1>
    <form action="/seller" method="post">
        <input type="hidden" name="owner_id" value=<%= user._id %>>
        <input type="text" name="type" required>
        <button type="submit" class="btn btn-dark">Create Your request</button>
    </form>

    <h1>Pending Request</h1>

    <% pendingReq.forEach(req => { %>
        <p><%= req.type %></p>
    <% }) %>

    <h1>Accepted Req</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Buyer Name</th>
                <th>Buyer Mobile</th>
                <th>Buyer Email</th>
            </tr>
        </thead>
    <tbody>
    <% acceptReq.forEach(req => { %>
        <tr>
            <td> <p><%= req.request.type %></p> </td>
            <td> <p><%= req.buyer.name%></p> </td>
            <td> <p><%= req.buyer.mobileNumber%></p> </td>
            <td> <p><%= req.buyer.emailId%></p> </td>
        </tr>
        
        
    <% }) %>
    </tbody>
    </table>
    
    <script>
        const navbars = document.querySelectorAll('.nav-item a')
        const seller = document.querySelector('a[href="/seller"]')


        navbars.forEach(navbar => {
            navbar.classList.remove('active');
        })

        seller.classList.add('active')


    </script>

<%- include('partials/footer') %>