<%- include('partials/header') %>

    <title>Buyer</title>
    <style>
            table, tr, th, td{
        border: black solid 1px;
    }
        td{
            padding: 20px;
        }
        .profile{
            align-items: center;
            margin-left: 100px;
            margin-right: 100px;
        }
        .pro{
            display: flex;
            flex-direction: row-gap;
            margin-top: 3em;
            margin-bottom: 3em;
        }
        .buy{
            align-items: right;
        }
        img{
            border-radius: 50%;
            margin-right: 3em;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>


        
    <div class="profile">
        <h1>Profile: </h1>
        <div class="pro">
            <div>
                <img src=<%= user.profilePhoto %> alt="Profile Picture" height="200"  >
            </div>
            <div>
                <h3><%= user.name %></h3>
                <h3><%= user.emailId %></h3>
                <h3><%= user.mobileNumber %></h3>
                <h3><%= user.city %></h3>
                <h3><%= user.pinCode %></h3>
            </div>  
        </div>
    <form action="/seller" method="post">
        <input type="hidden" name="owner_id" value=<%= user._id %>>
        <input type="text" name="type" required>
        <button type="submit" class="btn btn-dark">Create Your request</button>
    </form>

    <h1>Pending Request</h1>
    <table class="table">
        <thead>
            <tr>
                <th> Type </th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
    <% pendingReq.forEach(req => { %>
        <tr>
        <td><%= req.type %></td>
        <td><%= user.name %></td>
    </tr>
    <% }) %>
</tbody>
    </table>
    <h1>Accepted Req</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Buyer Name</th>
                <th>Buyer Mobile</th>
                <th>Buyer Email</th>
            </tr>
        </thead>
    <tbody>
    <% acceptReq.forEach(req => { %>
        <tr>
            <td> <p><%= req.request.type %></p> </td>
            <td> <p><%= req.buyer.name%></p> </td>
            <td> <p><%= req.buyer.mobileNumber%></p> </td>
            <td> <p><%= req.buyer.emailId%></p> </td>
        </tr>
        
        
    <% }) %>
    </tbody>
    </table>
    
    <script>
        const navbars = document.querySelectorAll('.nav-item a')
        const seller = document.querySelector('a[href="/seller"]')


        navbars.forEach(navbar => {
            navbar.classList.remove('active');
        })

        seller.classList.add('active')


    </script>

<%- include('partials/footer') %>